<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}"><i class="fa fa-user" style="color:black"></i> {{ site.title | default: site.github.repository_name }}</a></h1>

       {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

	<p align="center"><a href="pdf/resume.pdf">Resume</a></p>
        

        <p>{{ site.description | default: site.github.project_tagline }}</p>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <div style="text-align: center">
		<a href="{{ site.git_url}}" target="_blank"><i class="fa fa-github-square" style="font-size:36px;color:black"></i></a> 
		<a href="{{ site.linkedin_url}}" target="_blank"><i class="fa fa-linkedin-square" style="font-size:36px;color:black"></i></a> 
		<a href="{{ site.mail_url}}" target="_blank"><i class="fa fa-envelope-square" style="font-size:36px;color:black"></i></a>
	</div>
      </footer>
    </div>

  </body>
</html>
